*.png
*.old
*.o
*.so
*.out
*.swp
*.swo
*.swn
*.swm
*.un~
*ninja*
*.bak*
*.csv
*.log
*.ods
*.xls
*.xml
*.pyc
compile_commands.json
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/
Doxyfile
Makefile
Testing/
cmake_install.cmake
doc/
ext/generated/
install_manifest.txt
test_*.cc
tags
api-doc/
bin/
tmp/
.ycm_extra_conf.py
